<!-- templates/list.html -->
{% extends 'base.html' %}

{% block content %}

<style>
    table,th,td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<table style="width:50%">
    <tr>
        <th style="width:12%">Bezeichnung</th>
        <th style="width:12%">Was</th>
        <th style="width:8%">Küche</th>
        <th style="width:8%">Wesentliche Zutat</th>
        <th style="width:3%">veget.</th>
        <th style="width:3%">vegan</th>
        <th style="width:4%">Wer</th>
    </tr>

    {% for rezept in suchergebnis %}
    <tr>
        <td><a href="{{ rezept.get_absolute_url }}">{{ rezept.bezeichnung }}</a></td>
        <td>{{ rezept.kategorie }}</td>
        <td>{{ rezept.kueche }}</td>
        <td>{{ rezept.art_zutaten }}</td>
        <td>{{ rezept.vegetarisch|yesno:"X," }}</td>
        <td>{{ rezept.vegan|yesno:"X," }}</td>
        <td>{{ rezept.koch }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock content %}