<!--  templates/redetail.html: Das ganze Rezept -->
{% extends 'base.html' %}

{% block content %}

<style>
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>

        <h2>{{  rezept.bezeichnung  }} ({{ rezept.koch }}) </h2>

<table style="width:60%">
    <tr>
        <td>{{ rezept.kategorie }}</td>
        <td>{{ rezept.kueche }}</td>
        <td>{{ rezept.art_zutaten }}</td>
    </tr>
</table>
<br>
<table style="width:80%">
    <tr>
        <th style="width:40%">Zutaten für {{ rezept.portionen }} Portionen</th>
        <th style="width:40%">Zubereitung</th>
    </tr>
    <tr>
        <td>{{ rezept.zutaten|linebreaksbr }}</td>
        <td>{{ rezept.zubereitung|linebreaksbr }}</td>
    </tr>
</table>
<h3>Anmerkungen</h3>
<p>{{ rezept.anmerkungen }}</p>
{% endblock content %}
