{% extends 'base.html' %}

{% block content %}
<h2>Neues Rezept</h2>
<form action="" method="post">{% csrf_token %}
   <h3>Name des Rezepts: * {{ form.bezeichnung }}</h3>
   <table style="width:70%">
       <tr>
           <th>Art des Gerichts *</th>
           <th>(National)Küche</th>
           <th>Art der Zutaten</th>
           <th>vegetarisch</th>
           <th>vegan</th>
           <th>Portionen</th>
       </tr>
       <tr>
           <td>{{ form.kategorie }}</td>
           <td>{{ form.kueche }}</td>
           <td>{{ form.art_zutaten }}</td>
           <td>{{ form.vegetarisch }}</td>
           <td>{{ form.vegan }}</td>
           <td>{{ form.portionen }}</td>
       </tr>
   </table><br>
   <table style="width:70%">
    <tr>
        <th>Zutaten *</th>
        <th>Zubereitung</th>
    </tr>
    <tr>
        <td>{{ form.zutaten }}</td>
        <td>{{ form.zubereitung }}</td>
    </tr>
    <tr>
        <th>Anmerkungen</th>
    </tr>
    <tr>
        <td>{{ form.anmerkungen }}</td>
    </tr>
    </table><br>

    <input type="submit" value="Speichern">
</form>
{% endblock content %}